<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="js/better-scroll.js"></script>
    <script src="swiper4/swiper-4.3.5.min.js"></script>
    <link rel="stylesheet" href="swiper4/swiper-4.3.5.min.css">
    <link rel="stylesheet" type="text/css" href="css/font/iconfont.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="wrapper">
        <header>
            <span><img src="img/user.png" alt=""></span>
            <div class="nav">
                <ul>
                    <li class="active">推荐</li>
                    <li>热点</li>
                    <li>视频</li>
                    <li>版本</li>
                    <li>官网</li>
                    <li>推荐</li>
                    <li>推荐</li>
                    <li>推荐</li>
                </ul>
            </div>
            <span class="iconfont icon-search"></span>
        </header>
        <section>
           
            <div class="content">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="img/1.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/2.png" alt="">                            
                        </div>
                        <div class="swiper-slide">
                            <img src="img/1.png" alt="">                                                        
                        </div>
                        <div class="swiper-slide">
                            <img src="img/1.png" alt="">                                                        
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
             <div class="product">
                <div class="box">
                    <div>
                        <!-- <div class="img">
                            <dl>
                                <dt>
                                    <div class="title">苹果数据线</div>
                                    <div class="num"><span class="price">￥1.9</span><span>券减3元</span></div>
                                </dt>
                                <dd>
                                    <img src="img/one.png" alt="">
                                </dd>
                            </dl>
                        </div> -->
                    </div>
                </div>
            </div>  
        </section>
        <footer>
            <dl>
                <dt class="iconfont icon-shouye"></dt>
                <dd>资讯</dd>
            </dl>
            <dl>
                <dt class="iconfont icon-fenlei"></dt>
                <dd>萌友</dd>
            </dl>
            <dl>
                <dt class="iconfont icon-qrcode"></dt>
                <dd>电竞</dd>
            </dl>
            <dl>
                <dt class="iconfont icon-qrcode"></dt>
                <dd>商城</dd>
            </dl>
            <dl>
                <dt class="iconfont icon-wode"></dt>
                <dd>战绩</dd>
            </dl>
        </footer>
    </div>
   <script>
        var Bscroll = new BScroll('.nav', {
            scrollX: true,
            click: true
        });
        var mySwiper = new Swiper('.swiper-container', {
            on: {
                slideChange: function() {}
            },
            pagination:{
                el:'.swiper-pagination',
                clickable:true
            }
        });
        var xml = new XMLHttpRequest();
        xml.onreadystatechange = function () {
            if (xml.readyState === 4) {
                if (xml.status === 200) {
                    var data = JSON.parse(xml.responseText);
                    render(data);
                }
            }
        }
        xml.open('post', '/data/data', true);
        xml.setRequestHeader('content-type', 'application/x-www-form-urlencoded');
        xml.send();
        var Bscroll = new BScroll('.box', {
            scrollX: true,
            scrollbar: true,
            click: true
        });
        var box = document.querySelector('.box');
        var div = box.querySelector('div');
        function render(data) {
            var str = '';
            data.forEach(function (file) {
                str += `<div class="img">
                            <dl>
                                <dt>
                                    <div class="title">${file.title}</div>
                                    <div class="num"><span class="price">${file.newsname}</span><span>${file.num}</span></div>
                                </dt>
                                <dd>
                                    <img src="${file.path}" alt="">
                                </dd>
                            </dl>
                        </div>`;
            });
            div.innerHTML = str;
        }
    </script>
</body>
</html>